body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* start styling here */
.heading_nav {
  text-align: center;
  /* color  : red; */
}

.section_hero {
  background-image   : url("./images/Group_1075.png");
  background-size    : contain;
  background-repeat  : no-repeat;
  background-position: right 23px center;
  ;
  object-fit: cover;
}

.why_choose_title {
  background-color: red;
  color           : green;
}

.why_box {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
  justify-content      : center;
  align-items          : center;
  flex-wrap            : wrap;
}

.why_box img {
  width: 80px;
}

.why_choose {
  flex: 1 1 calc(25%);
}

/* .testimonial_container {

  display: flex;
}

.testimonial_box {
  display       : flex;
  gap           : 1.2rem;
  flex-direction: column;
  text-align    : center;
} */

.event_btn{
  background-color: aquamarine;
  color: brown;
  border: 1px solid brown;
}